<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" routerLink="/">ShopCart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/shopping-cart"> shopping Cart</a>
      </li>
      <ng-template #anonymousUser>
       <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li></ng-template>
      
      <li ngbDropdown  *ngIf="appUser; else anonymousUser"  class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{appUser.name}}
        </a>
        <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"routerLink="/my-orders">My orders</a>
          <ng-container *ngIf="user.isAdmin">
          <a class="dropdown-item" routerLink="/admin/orders">manage Orders</a>
          <a class="dropdown-item"routerLink="/admin/products">Manage-products</a>
          </ng-container>
          
          <a class="dropdown-item"(click)="logout()">Logout</a>
        </div>
      </li>
      
    </ul>
    
  </div>
  
</nav>